<!--
  Generated template for the EpisodePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title *ngIf="episode">
      {{episode.Title}}
      <ion-icon *ngIf="!favori" text-end (click)="addFavorite()" style="color:#ff5050; cursor: pointer;" name="heart-outline"></ion-icon>
      <ion-icon  *ngIf="favori" text-end (click)="removeFavorite(episode)" style="color:#ff5050; cursor: pointer;" name="heart"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid *ngIf="episode" class="movie-info">
    <ion-row *ngIf="episode.Poster">
      <ion-col>
        <img *ngIf="episode.Poster" src="{{episode.Poster}}" height="300"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button *ngIf="episode.Poster" ion-button (click)="download(episode.Poster)">
          <ion-icon name="download"></ion-icon>
        </button>
        <button (click)="share(episode.Poster)" color="primary">
          <ion-icon name="share"></ion-icon>
        </button>
        <button ion-button (click)="openTrailer()" class="detail-btn-color">
            <ion-icon name="videocam"></ion-icon>
            Trailer
        </button>
      </ion-col>
    </ion-row>
      <ion-row>
        <ion-col>
          <ion-icon name="calendar"></ion-icon>
          <div>{{episode.Released }}</div>
        </ion-col>
        <ion-col>
          <ion-icon name="Runtime"></ion-icon>
          <div>{{episode.Runtime }}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-icon name="star"></ion-icon>
          <div>Note Imdb : {{episode.imdbRating}}</div>
        </ion-col>
        <ion-col>
          <div>Nombre de votes : {{episode.imdbVotes}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>{{episode.Plot}}</div>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
